[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.80.0"
image = "~=1.5.33"
numpy = "~=1.23.2"
python-dotenv = "~=0.21.0"
python-multipart = "~=0.0.5"
tensorflow-cpu = "~=2.7.0"
uvicorn = "~=0.18.3"

[dev-packages]

[requires]
python_version = "3.8"