[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.95.1"
numpy = "~=1.24.2"
Pillow = "~=9.5.0"
python-dotenv = "~=1.0.0"
python-multipart = "~=0.0.6"
tensorflow-cpu = "~=2.11.1"
uvicorn = "~=0.20.0"

[dev-packages]
"watchdog[watchmedo]" = "~=3.0.0"

[requires]
python_version = "3.9"
