[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
extremitypathfinder = "~=2.4.1"
fastapi = "~=0.95.1"
optapy = "==8.23.0a0"
python-dotenv = "~=1.0.0"
uvicorn = "~=0.20.0"

[dev-packages]
"watchdog[watchmedo]" = "~=3.0.0"

[requires]
python_version = "3.9"
