[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
extremitypathfinder = "~=2.4.1"
fastapi = "~=0.80.0"
optapy = "==8.23.0a0"
pydantic = "~=1.9.2"
python-dotenv = "~=0.21.0"
uvicorn = "~=0.18.3"

[dev-packages]
"watchdog[watchmedo]" = "~=2.1.9"

[requires]
python_version = "3.9"
